body{
    background: linear-gradient(135deg,rgb(164, 219, 236),#e6c6a7);   
    font-size: 5rem;
    text-align: center;
    margin-top: 20%;
    color: rgb(9, 1, 14);
    border-radius: 5ch;
  
    
}
